/* CSS Document */
body{font: 62.5%/1.5}

p.colum:first-of-type {font-weight:600;}
 
 @media all and (max-width: 900px) and (min-width: 600px) {
p.colum   {
  -webkit-column-count: 2; /* Saf3, Chrome*/
  -webkit-column-gap: 4%; /* Saf3, Chrome*/
  -moz-column-count: 2; /* FF3.5+ */
  -moz-column-gap: 4%; /* FF3.5+ */
  column-count: 2; /* Opera 11+*/
  column-gap: 4%; /* Opera 11+*/
  }
}

@media all and (min-width: 900px) {
p.colum:first-of-type  {
  -webkit-column-count: 2;
  -webkit-column-gap: 3%; /* Saf3, Chrome*/
  -moz-column-count: 2;   
  -moz-column-gap: 3%; /* FF3.5+ */
  column-count: 2;        
  column-gap: 3%; /* Opera 11+*/
  }
p.colum   {
  -webkit-column-count:1;
  -webkit-column-gap: 1%; /* Saf3, Chrome*/
  -moz-column-count:1;   
  -moz-column-gap: 1%; /* FF3.5+ */
  column-count:1;        
  column-gap: 1%; /* Opera 11+*/
  }
}

#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
    width:25%;
		height:100%;
    
}

@media all and (max-width: 900px) {
 #popupPanel {
     width:40%;
    
}
}


#popupPanel {
		border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
    height:100%;
}
#popupPanel .ui-btn {
    margin: 2em 15px;
}



.enable{
background-image: linear-gradient(bottom, #989898 0%, #D0D0D0 80%);
background-image: -o-linear-gradient(bottom, #989898 0%, #D0D0D0 80%);
background-image: -moz-linear-gradient(bottom, #989898 0%, #D0D0D0 80%);
background-image: -webkit-linear-gradient(bottom, #989898 0%, #D0D0D0 80%);
background-image: -ms-linear-gradient(bottom, #989898 0%, #D0D0D0 80%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #989898),
	color-stop(0.8, #D0D0D0)
);
margin:8px;
}



.disable{
background-image: linear-gradient(bottom, #016D55 0%, #28B495 80%);
background-image: -o-linear-gradient(bottom, #016D55 0%, #28B495 80%);
background-image: -moz-linear-gradient(bottom, #016D55 0%, #28B495 80%);
background-image: -webkit-linear-gradient(bottom, #016D55 0%, #28B495 80%);
background-image: -ms-linear-gradient(bottom, #016D55 0%, #28B495 80%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #016D55),
	color-stop(0.8, #28B495)
);
margin:8px;
}

.button{
 padding-top:10px;
 display:block;
 font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
 text-decoration:none!important;
 padding-bottom:10px;
 padding-left:8px;
 padding-right:8px;

}

.bajorrelieve {
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent!important;
text-shadow: 1px 2px 3px rgba(255,255,255,0.3),-1px -1px 1px rgba(0,0,0,.3);
}


img {max-width: 100%;}

.contentTit{
margin:auto;
padding-top: 30px;
font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
font-size: 50px;
text-align: right;
font-weight: bold;
color: #c5c5c5;
width:736px;
 }
 
.header{
 height:60px;
 background-color:#424242;
}
 
 
@media (min-width:35em){

/* wrap on wide viewports once open */

.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
    margin-right: 17em;
}
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
    margin-left: 17em;
}
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
    width: auto;
}

/* disable "dismiss" on wide viewports */
.ui-responsive-panel .ui-panel-dismiss-display-push {
    display: none;
}

}



.logo{
 float:left;
 margin-left:34px;
 margin-top:13px;
 position:relative;
 z-index:999;
}
 
.menu{
 width:100%;
 float:left;
 position:relative;
}
 
.selectMenu{

 }
.blogActual{
 width:100%;
 text-align:center;
 margin-top: -42px;
 }
.blogActual a{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:34px;
  color:#FFF!important;
  text-decoration:none;
  text-shadow:none!important;
 }
 
#popupSelcBlog-popup{
 top:55px!important
}

.flechita{
top: -4px;
position: relative;
}

.rot180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	rotation: 180deg;
	}
  
 .notaPrincipal{
 width:725px;
 float:left;
 height:437px;
 background-color:#FFFFFF;
 margin:5px; 
}
.nota{
 width:358px;
 float:left;
 height:437px;
 background-color:#FFFFFF;
 margin:5px;
}

