
/* CSS Document */



* { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif!important; }

p
{
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.p { background: #F9F9F9; }

p.colum
{
 -webkit-column-count: 2; /* Saf3, Chrome*/
 -webkit-column-gap: 14px; /* Saf3, Chrome*/
 -moz-column-count: 2; /* FF3.5+ */
 -moz-column-gap: 14px; /* FF3.5+ */
 column-count: 2; /* Opera 11+*/
 column-gap: 14px /* Opera 11+*/
}

#popupPanel-popup
{
 right: 0 !important;
 left: auto !important;
 width: 25%;
 height: 100%;
}
 @media all and (max-width: 900px) {

#popupPanel { width: 40%; }
}

#popupPanel
{
 border: 1px solid #000;
 border-right: none;
 background: rgba(0,0,0,.5);
 margin: -1px 0;
 height: 100%;
}

#popupPanel .ui-btn { margin: 2em 15px; }

.footerBottons
{
 background-color: #414141;
 margin-left: 5px;
 margin-right: 5px;
 height: 50px;
 line-height: 50px;
 margin-top:10px;
}

.button
{
 display: block;
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 text-decoration: none!important;
 float: right;
 color: #FFF!important;
 text-shadow: none!important;
 margin-right: 13px;
 margin-left: 25px;
 font-weight: normal!important;
}

.button img
{
 margin-right: 5px;
 top: -1px;
 position: relative;
}

img { max-width: 100%; }

.footerMargin { margin-top: 20px!important; }

.header
{
 height: 60px;
 background-color:#E0E1DD;
}

.logo
{
 float: left;
 margin-top: 16px;
 position: relative;
 z-index: 999;
}

.menu
{
 width: 100%;
 float: left;
 position: relative;
}

.selectMenu { }

.blogActual
{
 width: 100%;
 text-align: center;
 margin-top: -38px;
}

.blogActual a
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 34px;
 color: #373737!important;
 text-decoration: none;
 text-shadow: none!important;
}

#popupSelcBlog-popup
{
 top: 60px!important;
 z-index: 10;
}

.flechita
{
 top: -4px;
 position: relative;
}

.rot180
{
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 rotation: 180deg;
}

.notaPrincipal
{
 width: 725px;
 float: left;
 height: 463px;
 display: block;
 background-color: #FFFFFF;
 margin: 5px;
}

.nota
{
 width: 330px;
 float: left;
 height: 389px;
 display: block;
 background-color: #FFFFFF;
 margin: 5px;
 padding: 14px;
}

.notaDestacada
{
 width: 697px;
 float: left;
 height: 435px;
 display: block;
 background-color: #FFFFFF;
 margin: 5px;
 padding: 14px;
}

.contenedorNotas
{
 width: 736px;
 height: 899px;
 margin: auto;
}

.notaPrincipal .imagen
{
 height: 338px;
 width: 725px;
 float: left;
 position: relative;
}

.notaPrincipal .imagen .titulo
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 52px;
 color: #FFF;
 float: left;
 position: relative;
 z-index: 9999;
 top: -155px;
 padding: 14px;
 font-weight: bold;
 line-height: 50px;
 text-shadow: 1px 1px 3px #141414;
 filter: dropshadow(color=#141414, offx=1, offy=1);
}

.notaPrincipal .imagen .contentFechaComent
{
 width: 100%;
 float: left;
 position: relative;
 top: -175px;
 padding: 14px;
}

.notaPrincipal .imagen .contentFechaComent .fecha
{
 float: left;
 color: #FFF;
 margin-right: 10px;
}

.notaPrincipal .imagen .contentFechaComent .fecha p
{
 float: left;
 margin-left: 10px;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.notaPrincipal .imagen .contentFechaComent .fecha img { float: left; }

.notaPrincipal .imagen .contentFechaComent .coment
{
 float: left;
 color: #FFF;
}

.notaPrincipal .imagen .contentFechaComent .coment p
{
 float: left;
 margin-left: 10px;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.notaPrincipal .imagen .contentFechaComent .coment img { float: left; }

.texto
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #5e5e5e;
 font-size: 14px;
 float: left;
 line-height: 24px;
}

.texto p
{
 margin-top: 0!important;
 margin-bottom: 0!important;
 padding: 14px;
}

.nota .imagen
{
 height: 178px;
 width: 333px;
 float: left;
}

.nota .titulo
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 20px;
 color: #373737;
 float: left;
 font-weight: bold;
 line-height: 25px;
 margin-top: 20px;
}

.nota .contentFechaComent
{
 width: 100%;
 float: left;
 margin-top: 10px;
}

.nota .contentFechaComent .fecha
{
 float: left;
 color: #b2b2b2;
 margin-right: 10px;
}

.nota .contentFechaComent .fecha p
{
 float: left;
 margin-left: 10px;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.nota .contentFechaComent .fecha img { float: left; }

.nota .contentFechaComent .coment
{
 float: left;
 color: #b2b2b2;
}

.nota .contentFechaComent .coment p
{
 float: left;
 margin-left: 10px;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.nota .contentFechaComent .coment img { float: left; }

.nota .texto p
{
 padding: 0;
 margin-top: 10px!important;
 float: left;
}

.notaDestacada .imagen { float: right; }

.notaDestacada .titulo
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 23px;
 color: #373737;
 float: left;
 font-weight: bold;
 line-height: 28px;
 width: 347px;
}

.notaDestacada .contentFechaComent
{
 width: 347px;
 float: left;
 margin-top: 6px;
}

.notaDestacada .contentFechaComent .fecha
{
 float: left;
 color: #b2b2b2;
 margin-right: 10px;
}

.notaDestacada .contentFechaComent .fecha p
{
 float: left;
 margin-left: 10px;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.notaDestacada .contentFechaComent .fecha img { float: left; }

.notaDestacada .contentFechaComent .coment
{
 float: left;
 color: #b2b2b2;
}

.notaDestacada .contentFechaComent .coment p
{
 float: left;
 margin-left: 10px;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.notaDestacada .contentFechaComent .coment img { float: left; }

.notaDestacada .texto
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #5e5e5e;
 font-size: 14px;
 float: left;
 line-height: 24px;
 width: 330px;
 margin-top: 10px;
}

.notaDestacada .texto2
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #5e5e5e;
 font-size: 14px;
 float: left;
 line-height: 24px;
}

.notaDestacada .texto p
{
 margin-top: 0!important;
 margin-bottom: 0!important;
 padding: 0px;
 width: 330px;
 float: left;
}

.notaDestacada .texto2 p
{
 margin-top: 0!important;
 margin-bottom: 0!important;
 padding: 0px;
}

#popupSelcBlog-screen { z-index: 9; }

.volver
{
 position: absolute;
 z-index: 999;
 top: 0;
 left: 0;
}

.notaPop .notaPrincipal
{
 width: 697px;
 float: left;
 height: 914px;
 display: block;
 background-color: #FFFFFF;
 margin: 5px;
 padding: 14px;
}

.notaPop .notaPrincipal .imagen
{
 height: 314px;
 width: 697px;
 float: left;
 position: relative;
 overflow: hidden;
}

.notaPop .notaPrincipal .titulo
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: 40px;
 color: #373737;
 float: left;
 font-weight: bold;
 line-height: 48px;
 margin-top: 10px;
}

.notaPop .notaPrincipal .contentFechaComent
{
 width: 100%;
 float: left;
 margin-top: 10px;
}

.notaPop .notaPrincipal .contentFechaComent .fecha
{
 float: left;
 color: #b2b2b2;
 margin-right: 10px;
}

.notaPop .notaPrincipal .contentFechaComent .fecha p
{
 float: left;
 margin-left: 10px;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.notaPop .notaPrincipal .contentFechaComent .fecha img { float: left; }

.notaPop .notaPrincipal .contentFechaComent .coment
{
 float: left;
 color: #b2b2b2;
}

.notaPop .notaPrincipal .contentFechaComent .coment p
{
 float: left;
 margin-left: 10px;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.notaPop .notaPrincipal .contentFechaComent .coment img { float: left; }

.notaPop .texto
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #5e5e5e;
 font-size: 14px;
 float: left;
 line-height: 30px;
 margin-top: 10px;
}

.notaPop .texto p
{
 margin-top: 0!important;
 margin-bottom: 0!important;
 padding: 0px;
 float: left;
}

.bloque
{
 background-color: #FFF;
 padding: 12px;
 margin: 5px;
}

.bloque img { width: 100%; }

.customPanel { background-color: #F0F0F0; }

.close
{
 float: left;
 position: relative;
 z-index: 999;
}

.close a
{
 color: #5e5e5e!important;
 text-decoration: none;
}

.customPanel.ui-panel { width: 50%!important; }

#panelMore { }

.contenedorBlogMore
{
 float: left;
 width: 360px;
 margin-top: 130px;
 margin-left: 20px;
}

.contenedorBlogMore p
{
 font-size: 38px;
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #006c54;
 float: left;
 margin-bottom: 20px!important
}

.contenedorBlogMore .blogMore { float: left; }

.contenedorBlogMore .blogMore img
{
 float: left;
 margin: 10px;
 margin-left: 2px;
 -webkit-box-shadow: 0px 0px 15px 0px #666;
 box-shadow: 0px 0px 15px 0px #666;
 border: 6px #fff solid;
}

.contenedorBlogMore .blogMore p
{
 font-size: 18px!important;
 font-weight: bold!important;
 float: left!important;
 margin-top: 50px!important;
 color: #4c4c4c;
 width: 200px;
 margin-left: 5px;
}
#panelOptions .contenedorBlogMore .blogMore{
 margin-bottom:10px;
}
.margin40{
 padding-bottom:40px!important;
 }
#panelOptions .contenedorBlogMore .blogMore p
{
 font-size: 13px!important;
 font-weight: bold!important;
 float: left!important;
 margin-top:-7px!important;
 color: #4c4c4c;
 width: 200px;
 margin-left: 5px;
 float:right!important
}

.contenedorBlogMore .blogMore:first-child p { margin-top: 30px!important; }

.contenedorBlogMore .blogMore p span { color: #e2061a }

.clear { clear: both; }

#popupAdd { width: 400px!important; }

.custom .blogMore p { margin-top: 20px; }

.customFieldcontain
{
 position: relative!important;
top: -17px!important;
 margin-left: 17px!important;
 float:right;
}

.closeRight
{
 float: right;
 position: relative;
 z-index: 999;
}

.closeRight a
{
 color: #5e5e5e!important;
 text-decoration: none;
}

.tituloBlog
{
 width: 100%;
 height: 75px;
 float: left;
 position: relative;
 background-color: rgba(0,0,0,0.4);
 margin-top: -80px;
}

.tituloBlog p
{
 text-decoration: none;
 text-align: left;
 text-shadow: -2px 2px 2px #363636;
 filter: dropshadow(color=#363636, offx=-2, offy=2);
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #FFF!important;
 font-size: 32px;
 line-height: 30px;
 text-transform: uppercase;
 margin-left: 20px;
 margin-top: 5px!important;
}

/*---RESPONSIVE CONTENEDORES---*/


/*--CONTENEDORES--*/

.contentTit
{
 margin: auto;
 font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
 font-size: 50px;
 text-align: right;
 font-weight: bold;
 color: #c5c5c5;
 width: 735px;
}

.contenti
{
 width: 735px;
 margin: auto
}

.logoHome
{
 width: 735px;
 margin: auto;
 margin-top: 30px;
}
.logoHome img
{
 width:40%;
 margin-left:7px;
}
/*--CONTENEDORES--*/


@media (max-width:320px){
.contentTit
{
 margin: auto;
 font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
 font-size: 20px;
 text-align: right;
 font-weight: bold;
 color: #c5c5c5;
 width: 280px;
}

.contenti
{
 width: 280px;
 margin: auto
}

.logoHome
{
 width: 280px;
 margin: auto;
 margin-top: 30px;
}

.tituloBlog p
{
 font-size: 12px;
 line-height:18px;
 margin-left: 10px;
 margin-top: 5px!important;
}

.tituloBlog
{
 width: 100%;
 height: 50px;
 float: left;
 position: relative;
 background-color: rgba(0,0,0,0.4);
 margin-top: -55px;
}

.button
{
 display: block;
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 text-decoration: none!important;
 float: right;
 color: #FFF!important;
 text-shadow: none!important;
 margin-right: 7px;
 margin-left: 10px;
 font-weight: normal!important;
 font-size:12px;
}

.footerMargin { margin-top: 10px!important; }
.bloque
{
 background-color: #FFF;
 padding: 6px;
 margin: 3px;
}

.footerBottons
{
 background-color: #414141;
 margin-left: 5px;
 margin-right: 5px;
 height: 30px;
 line-height: 30px;
}

.contenedorNotas
{
 width: 280px;
 height: 899px;
 margin: auto;
}
.header
{
 height: 30px;
 background-color:#E0E1DD;
}

}

@media  (min-width:321px) and (max-width:520px){
  .contentTit
{
 margin: auto;
 font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
 font-size: 40px;
 text-align: right;
 font-weight: bold;
 color: #c5c5c5;
 width: 600px;
}

.contenti
{
 width: 600px;
 margin: auto
}

.logoHome
{
 width: 600px;
 margin: auto;
 margin-top: 30px;
}

.tituloBlog p
{
 font-size: 23px;
 line-height:25px;
 margin-left: 10px;
 margin-top: 5px!important;
}

.tituloBlog
{
 width: 100%;
 height: 60px;
 float: left;
 position: relative;
 background-color: rgba(0,0,0,0.4);
 margin-top: -65px;
}

.button
{
 display: block;
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 text-decoration: none!important;
 float: right;
 color: #FFF!important;
 text-shadow: none!important;
 margin-right: 13px;
 margin-left: 25px;
 font-weight: normal!important;
 font-size:22px;
}

.footerMargin { margin-top: 20px!important; }



}